* {
	box-shadow: border-box;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	background-color: #333;
	color: #fff;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
	z-index: 1;
	position: sticky;
	top:0;
}

nav .logo img {
	height: 99px;
	width: 190px;
	position: relative;
	left: 30px;
}

nav .menu {
	display: flex;
}

nav .menu ol {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}

nav .menu li {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, transform 0.2s;
	border-radius: 5px;
}

nav .menu li:hover {
	background-color: #555;
	color: #fff;
	transform: scale(1.1);
}